[user]
	name = nhibberd
	email = nhibberd@gmail.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	ignore = update-index --assume-unchanged
	showignored = ! git ls-files -v | grep ^h | awk '{print $2}'
	unignore = update-index --no-assume-unchanged
        pr = !git fetch origin refs/pull/$1/head:pr$1 && :
[merge]
	tool = diff
[color "status"]
       added = blue
       changed = red
       untracked = yellow
